.main {
  min-height: calc(100vh - 169px);
  flex-wrap: wrap;
  gap: 1rem;
}
.left-menu {
  width: 250px;
  min-height: 100vh;
}
.carousel {
  height: 60vh;
}

.carousel img {
  height: 60vh;
}

.btn-delete {
  width: 100%;
}

.layout-padding > li {
  padding-left: 1rem;
}

.book-list {
  width: 100%;
  justify-content: space-between;
}
.left-review {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.number-book {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  background: rgb(58, 56, 56);
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 0 10px;
  height: 20%;
}

.comment-form {
  flex-direction: column;
}
.comment-form button {
  align-self: flex-end;
}
@media (max-width: 469px) {
  .card-containers {
    width: 100% !important;
  }
  .book-list {
    justify-content: center !important;
  }
}
